# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Internet Programming\lab-7-ShohrukhmirzoGulomov-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
